div.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(400px, auto);
}

div.response-time-gauge {
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 0;
}

div.percentiles-chart {
  grid-row: 1/3;
  grid-column: 3/7;
  z-index: 0;
}

div.error-summary {
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 2;
}

div.response-history {
  grid-row: 2/3;
  grid-column: 2/7;
  z-index: 1;
}